PORT=
MONGODB_URI=

NODE_ENV=
BASE_URL=

# ================== VERIFY EMAIL ==================
VERIFY_BASE_URL=

# ================== MAIL CONFIG ==================
MAIL_USER=
MAIL_PASS=

# ================== CORS ==================
CORS_ORIGINS=
# ================== JWT ==================
JWT_SECRET=
JWT_EXPIRED=
JWT_REFRESH_SECRET=
REFRESH_EXPIRED=